// * Variables
$primary-gold: #ffd700;
$color-white: #dee2e6;
$back-red: #ffecec;
$back-card: #f8f8f8;
$background-color: #010e1b;
$button-z-index: 20;

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;

	@include respond(big-desktop) {
		font-size: 75%;
	}

	@include respond(tab-land) {
		font-size: 56.25%;
	}

	@include respond(tab-port) {
		font-size: 50%;
	}

	@include respond(phone) {
		font-size: 38%;
	}
}

body {
	font-family: 'Quicksand', sans-serif;
	background-color: $background-color;
	// position: absolute;

	display: grid;
	grid-template-columns: minmax(6rem, 1fr) repeat(6, 1fr) minmax(6rem, 1fr);
	grid-template-rows: 8rem max-content;
	grid-auto-flow: max-content;
	overflow-x: hidden;
}

//* Particles

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
}
