.main {
	grid-row: 2/3;
	grid-column: 2/8;
	height: calc(100vh - 6rem);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: $color-white;

	&_name {
		font-size: 4.8rem;
		font-weight: bold;
	}

	&_typing {
		font-size: 2.5rem;
		font-weight: 500;

		&-dynamic {
			color: $primary-gold;
			font-weight: 600;
			text-decoration: underline;

			// line-height: 1.6;
		}
	}

	&_social {
		z-index: $button-z-index;
		& > a > i {
			color: $color-white;
			font-size: 2.4rem;
			margin-top: 2rem;

			&:hover {
				color: $primary-gold;
			}
		}

		& > a:not(:last-child) {
			margin-right: 2rem;
		}
	}
}
